@{
    ViewBag.Title = "VerifyResetPassword";
}
<div class="resetpw-content">
    <h1>@Resource.User_ResetYourPassword</h1>
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-error">
            @TempData["error"]
            <a class="close" data-dismiss="alert">×</a>
        </div>
    }
    @switch (Request.QueryString["action"])
    {
        default:
            break;
        case "changepassword":
        <div>
            <p>@Resource.User_ChangePasswordTitle</p>
            <form id="formChangePassword" method="post" action="ChangePassword">
                <div class="item-row">
                    @Resource.Login_Password<br />
                    <input id="password" name="password" type="text" />
                </div>
                <div class="item-row">
                    @Resource.User_ConfirmPassword<br />
                    <input id="cPassword" name="cPassword" type="text" />
                </div>
                <div class="item-row">
                    <button class="btn btn-inverse" type="submit">@Resource.Button_Submit</button>
                </div>
            </form>
        </div>
            break;
        case "success":
        <div class="alert alert-success">
            @Resource.User_ResetPWSuccessMessage1 <a href="login">@Resource.User_ResetPWSuccessMessage2</a> @Resource.User_ResetPWSuccessMessage3
        </div>
            break;

    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#formChangePassword').validate({
            rules: {
                password: { required: true, minlength: 3 },
                cPassword: { required: true, equalTo: '#password' }
            },
            highlight: function (element) {
                $(element).closest('div').addClass("f_error");
                setTimeout(function () {
                }, 200)
            },
            unhighlight: function (element) {
                $(element).closest('div').removeClass("f_error");
                setTimeout(function () {
                }, 200)
            },
            errorPlacement: function (error, element) {
                $(element).closest('div').append(error);
            }
        });
    });
</script>
